<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if messages %}
                {% for message in messages %}
                
                        {{ message }}
            
                {% endfor %}
            {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        
        <label for="nin-image">Nin Picture</label>
        <input type="file" name="nin_picture" id="">
        <br>
        <label for="">Nin number</label>
        <input type="text" id="nin" name="nin_number" placeholder="Enter your nin">
        <br>
        <label for="">Address</label>
        <input type="text" id="address" name="address" placeholder="Enter your address">
        <br>
    
        <label>Referred By:</label>
        <input type="text" name="referred_by" value="{{ referred_by }}" readonly>
        <br>

        <button type="submit">Submit Kyc</button>
    </form>
    <br>
    
</body>
</html>