<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if messages %}
                {% for message in messages %}
                
                        {{ message }}
            
                {% endfor %}
            {% endif %}

    <form action="{% url 'login-user' %}" method="post">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <br>    
        <label for="password">Password:</label>

        <input type="password" id="username" name="password" placeholder="Enter your password">
        <br>
        <button type="submit">Login</button>

    </form>
    <a href="{% url 'register-user' %}">Register</a>
</body>
</html>